


body{
    font-family: Nunito,sans-serif !important;
}




.mynav{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    font-size: 13px;
    font-weight: 700;
    min-height: 62px;
    color: #4F46E5;
    
    line-height: 1.5rem !important;
letter-spacing: 1px !important;;
    
   
  }
  
   .mynav1{
    padding-right: 180px;
   }


   .schrift1{
    color: #4F46E5;
   }

   .schrift2{
    font-weight: 700 !important;
    font size: 40px; 
    line-height: 1.5 !important;
   }


   .schrift3{
     color:#D1D8E0 ;
     
   }

   .mycolor{
    color: white;
    font-weight: 600;
    border-width: 1px;
    order: 0 solid #e5e7eb;
    border-radius: ;
    background-color: #4F46E5;
    

   }

   .mycont{
    padding: 100px;
   }

   .myfoto{
    margin-left: 150px;
   }
   

   .mycard{
    padding-right: 10px;
   }